@model IEnumerable<GAP.PolicyManagment.Web.UI.Models.PolicyClient>

@{
    ViewBag.Title = "Customer's Policies";
}

<h2>Customer's Policies</h2>

<p>
    @Html.ActionLink("Assign New Policy", "Create")
</p>

@if (ViewBag.Records)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policy.Name)
            </td>
            <td>                
                @Html.ActionLink("Delete", "Delete", new { id = item.PolicyClientId })
            </td>
        </tr>
        }

    </table>
}
else
{
    <label>There is not records</label>
}
